<!DOCTYPE html>
<html lang="en">
<%- include('./layouts/head'); %>

	<body>
		<!-- Navigation-->
		<%- include('./layouts/nav'); %>
			<!-- Page Header-->
			<header class="masthead" style="background-image: url('assets/img/contact-bg.jpg')">
				<div class="container position-relative px-4 px-lg-5">
					<div class="row gx-4 gx-lg-5 justify-content-center">
						<div class="col-md-10 col-lg-8 col-xl-7">
							<div class="page-heading">
								<h1>Create an Account</h1>
								<span class="subheading">To had user on MongoDB</span>
							</div>
						</div>
					</div>
				</div>
			</header>
			<!-- Main Content-->
			<main class="mb-4">
				<div class="container">

					<form action="/user/new" method="POST">

						<div class="form-floating mb-3">
							<input type="text" class="form-control" id="floatingInputTitle" placeholder="userName" name="userName">
							<label for="floatingInputTitle">userName</label>
						</div>

						<div class="form-floating mb-3">
							<input type="password" class="form-control" id="password" placeholder="password" name="password">
							<label for="password">Password</label>
						</div>

						<button type="submit" class="btn btn-primary text-uppercase" id="submitButton">Submit</button>

					</form>
				</div>
			</main>
			<!-- Footer-->
			<%- include('./layouts/footer'); %>
				<%- include('./layouts/scripts'); %>
	</body>

</html>
